<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Création livre</title>
</head>
<body>
    
    <form method="post" action="{% url 'creation-livre'%}">
        {% csrf_token %}

        <label>Titre</label>
        <input type="text" name="titre" required>

        <label>Auteur</label>
        <input type="text" name="auteur" required>

        <label>Date publication</label>
        <input type="text" name="date_publication" required>

        <button>Créer livre</button>
    </form>
</body>
</html>